header{
    word-spacing: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    position: relative;
}
nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(fond.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    flex: 1; 
    color: white;
}
footer{
    
    background-color: white;
    text-align:center ;
    padding: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.mensuel-1{
    background-color: green;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
p{
    text-align: center;
}